{% extends "bootstrap/base.html" %}

{#TODO: choose a better ui#}
{#{%- block head %}#}
{#    {%- block styles %}#}
{#        {{ super() }}#}
{#        <link rel="stylesheet" href="static/css/landing-page.css">#}
{#        <script src="static/js/landing-page.js"></script>#}
{##}
{#    {%- endblock styles %}#}
{#{%- endblock head %}#}


{% block title %} {{ app_name }} {% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> {{ app_name }} </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Reset</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
        <footer class="footer navbar-fixed-bottom ">
            <div class="container">
                <p style="color: #888;">© Copyright 2018, <a href="https://github.com/williamfzc/ToolCover">ToolCover</a> by williamfzc </p>
            </div>
        </footer>
    {% endblock %}
</div>
{% endblock %}
